<div class="grid">
  <form [formGroup]="form" class="col-fixed" style="width:300px">
    <div class="p-card flex flex-column gap-2 p-fluid p-3 h-full">
      <div class="flex-auto">
        <label class="mb-2 font-bold block" for="product">Produit analysé</label>
        <p-dropdown 
          id="product"
          [options]="products()"
          optionLabel="name" 
          formControlName="product"
          [filter]="true"
          filterBy="name"></p-dropdown>
      </div>
      <div class="flex-auto">
        <label class="mb-2 font-bold block" for="goal">Appliquer un objectif</label>
        <p-inputNumber 
          inputId="goal"
          formControlName="goal"
          [showButtons]="true" 
          buttonLayout="horizontal" 
          spinnerMode="horizontal"
          [min]="-100"
          [step]="5"
          suffix="%"
          decrementButtonClass="p-button-primary-dark"
          incrementButtonClass="p-button-primary-dark"
          incrementButtonIcon="pi pi-plus" 
          decrementButtonIcon="pi pi-minus" 
          />
      </div>
      <div class="flex-auto">
        <label class="mb-2 font-bold block" for="model">Prévision des ventes</label>
        <p-dropdown 
          id="model"
          [options]="periodValues()" 
          formControlName="model"
          optionLabel="name" />
      </div>
    </div>
  </form>
  
  <div class="col">
    <p-card header="Prévisions" class="h-full">
      <div class="grid">
        <div class="col relative">
          @if (chartOptions()) {
            <p-chart type="bar" [data]="datasetsData()" [options]="chartOptions()" />
            <div class="delivery-info absolute">
              @for (deliveryBlock of deliveryBlocksWithActive(); track i; let i = $index) {
                <div
                  class="delivery-block"
                  [style.left]="deliveryBlock.left + 'px'"
                  [class.disabled]="deliveryBlock.disabled"
                  [class.active]="deliveryBlock.active"
                ></div>
              }
            </div>
          }
        </div>

        <div class="col">

        </div>
      </div>
    </p-card>
  </div>
</div>