.delivery-info {
  left: 42px;
  right: .5rem;
  top: 22px;
  bottom: 0;

  .delivery-block {
    width: 20px;
    position: absolute;
    height: 100%;
    margin-left: -10px;

    &::after {
      content: ' ';
      height: 16px;
      width: 20px;
      background-image: url('/images/truck-availabe.png');
      position: absolute;
      top: 0;
    }

    &::before {
      content: ' ';
      position: absolute;
      top: 20px;
      bottom: 36px;
      margin-left: 10px;
      // border-right: 1px dotted #3850B7;
      background-image: linear-gradient(to bottom, #3850B7 50%, rgba(255, 255, 255, 0) 0%);
      background-position: left;
      background-size: 1.5px 5px;
      background-repeat: repeat-y;
      width: 1.5px;
    }

    &.disabled {
      &::after {
        background-image: url('/images/truck-disabled.png');
      }
  
      &::before {
        // border-right: 1px dotted #7A7A7A;
        background-image: linear-gradient(to bottom, #7A7A7A 50%, rgba(255, 255, 255, 0) 0%);
      }
    }

    &.active {
      &::after {
        background-image: url('/images/truck-active.png');
      }
    }
  }
}